.deg-A {
   transform: rotate(270deg) translate(500%) rotate(-270deg);
}
.deg-B {
   transform: rotate(284.4deg) translate(500%) rotate(-284.4deg);
}
.deg-C {
   transform: rotate(298.8deg) translate(500%) rotate(-298.8deg);
}
.deg-D {
   transform: rotate(313.2deg) translate(500%) rotate(-313.2deg);
}
.deg-E {
   transform: rotate(327.6deg) translate(500%) rotate(-327.6deg);
}
.deg-F {
   transform: rotate(342deg) translate(500%) rotate(-342deg);
}
.deg-G {
   transform: rotate(356.4deg) translate(500%) rotate(-356.4deg);
}
.deg-H {
   transform: rotate(370.8deg) translate(500%) rotate(-370.8deg);
}
.deg-I {
   transform: rotate(385.2deg) translate(500%) rotate(-385.2deg);
}
.deg-J {
   transform: rotate(399.6deg) translate(500%) rotate(-399.6deg);
}
.deg-L {
   transform: rotate(414deg) translate(500%) rotate(-414deg);
}
.deg-M {
   transform: rotate(428.4deg) translate(500%) rotate(-428.4deg);
}
.deg-N {
   transform: rotate(442.8deg) translate(500%) rotate(-442.8deg);
}
.deg-ENIE {
   transform: rotate(457.2deg) translate(500%) rotate(-457.2deg);
}
.deg-O {
   transform: rotate(471.6deg) translate(500%) rotate(-471.6deg);
}
.deg-P {
   transform: rotate(486deg) translate(500%) rotate(-486deg);
}
.deg-Q {
   transform: rotate(500.4deg) translate(500%) rotate(-500.4deg);
}
.deg-R {
   transform: rotate(514.8deg) translate(500%) rotate(-514.8deg);
}
.deg-S {
   transform: rotate(529.2deg) translate(500%) rotate(-529.2deg);
}
.deg-T {
   transform: rotate(543.6deg) translate(500%) rotate(-543.6deg);
}
.deg-U {
   transform: rotate(558deg) translate(500%) rotate(-558deg);
}
.deg-V {
   transform: rotate(572.4deg) translate(500%) rotate(-572.4deg);
}
.deg-X {
   transform: rotate(586.8deg) translate(500%) rotate(-586.8deg);
}
.deg-Y {
   transform: rotate(601.2deg) translate(500%) rotate(-601.2deg);
}
.deg-Z {
   transform: rotate(615.6deg) translate(500%) rotate(-615.6deg);
}

body {
   background: linear-gradient(45deg, rgb(2, 3, 71), rgb(2, 3, 71));
   color: black;
   user-select: none;
}

.contenedorRosco {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 95vh;
}

.circulo, .rectangulo {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 4vh;
}
.circulo {
   border-radius: 50%;
}

.letra {
   width: 7vh;
   height: 7vh;
   font-size: 4vh;
   cursor: pointer;
   font-size: 5.5vh;
   font-weight: bold;
   color: black;
   -webkit-text-stroke: 0.05vh cyan;
}

.countdown {
   top: 60vh;
   left: 5vh;
   width: 22vh;
   height: 22vh;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
   font-size: 12vh;
   color: black;
   font-weight: bold;
}

.aciertos {
   top: 84vh;
   left: 5vh;
   width: 12vh;
   height: 12vh;
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
   font-size: 10vh;
   color: black;
   font-weight: bold;
}
.errores {
   top: 84vh;
   left: 18vh;
   width: 8vh;
   height: 12vh;
   background: linear-gradient(45deg, red, rgb(136, 47, 47));
   font-size: 8vh;
   color: white;
}

.sumarRestarSegundos {
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
}
.calcularDelay {
   top: 76vh;
   left: 20.5vh;
   z-index: 1;
   border: 0.2vh solid black;
   color: black;
   font-size: 4.5vh;
}
.sumarSegundos {
   top: 64vh;
   left: 29vh;
}
.restarSegundos {
   top: 73vh;
   left: 29vh;
}

/* BOTONES */
.boton {
   cursor: pointer;
   font-size: 3vh;
}
.botonCircular {
   width: 6vh;
   height: 6vh;
   border-radius: 50%;
   cursor: pointer;
}

.botonPlayPausa {
   top: 4vh;
   right: 4vh;
   width: 30vh;
   height: 4vh;
   background: cyan;
}
.acierto {
   top: 10vh;
   right: 28vh;
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
}
.pasapalabra {
   top: 10vh;
   right: 20vh;
   background: linear-gradient(45deg, orange, rgb(249, 183, 60));
}
.error {
   top: 10vh;
   right: 12vh;
   background: red;
}
.cambiarRosco {
   top: 10vh;
   right: 4vh;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
}

.nombreJugador {
   font-size: 6vh;
   top: 2vh;
   left: 4vh;
   color: cyan;
}

.nombreRival {
   top: 13vh;
   left: 4vh;
   font-size: 3.5vh;
   color: rgb(6, 97, 128);
   -webkit-text-stroke: 0.01vh cyan;
}
.aciertosRival {
   top: 19vh;
   left: 4vh;
   width: 6vh;
   height: 6vh;
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
   font-size: 5vh;
   color: black;
}
.erroresRival {
   top: 19vh;
   left: 11vh;
   width: 4vh;
   height: 6vh;
   background: linear-gradient(45deg, red, rgb(136, 47, 47));
   font-size: 4.5vh;
   color: white;
}
.segundosRival {
   top: 19vh;
   left: 16vh;
   width: 6vh;
   height: 6vh;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
   font-size: 3vh;
   color: black;
}

.letraCentral {
   font-size: 35vh;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
}

.comodin {
   border: none;
   background: rgb(6, 97, 128);
   width: 8vh;
   height: 8vh;
}
.comodin.enabled {
   color: rgb(249, 183, 60);
   -webkit-text-stroke: 0.15vh black;
}
.comodin.disabled {
   color: lightgrey;
   -webkit-text-stroke: 0.2vh rgb(150, 150, 150);
}

.comodin0 {
   top: 86vh;
   right: 4vh;
}
.comodin1 {
   top: 86vh;
   right: 15vh;
}
.comodin2 {
   top: 86vh;
   right: 26vh;
}
.copyright {
   font-size: 2.5vh;
   text-align: right;
   color: cyan;
   width: calc(100% - 4vh);
}

.disabled {
   background: lightgray;
   color: white
}

.infoRival {
   -webkit-text-stroke: 0;
}

.izquierda, .derecha > .superior {
   font-weight: bold;
   -webkit-text-stroke: 0.05vh cyan;
}

.firma {
   font-size: 3.2vh;
}


button {
   color: white;
   border: none;
   padding: 1vh 1vh;
   transition: background-color 0.3s ease;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   height: 100%;
   width: 100%;
   overflow: hidden;
   background-color: rgba(0, 0, 0, 0.5);
   pointer-events: none;
   justify-content: center;
   align-items: center;
}

.modal-content {
   color: rgb(6, 97, 128);
   padding: 3vh;
   width: 100%;
   max-width: 50vh;
   text-align: center;
   transition: transform 0.3s ease, opacity 0.3s ease;
   transform: scale(0.5);
}

.modal-content.show {
   transform: scale(1);
   opacity: 1;
}

button:hover {
   font-weight: bolder;
}

#yesBtn {
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
   float: left;
   width: 40%;
}

#noBtn {
   background: linear-gradient(45deg, red, rgb(136, 47, 47));
   float: right;
   width: 40%;
}

.checkbox-content {
   margin: 1vh 2vh -1.5vh 1vh;
}

#checkboxJugadorDemora {
   margin-top: 0.4vh;
   display: flex;
   float: right;
   zoom: 1.2;
}

.no-click {
   pointer-events: none;
}
.numeroVuelta {
   position: absolute;
   top: 86vh;
   font-size: 8vh;
   color: white;
   font-weight: bold;
   -webkit-text-stroke: 0.05vh black;
}