.deg-A {
   transform: rotate(270deg) translate(500%) rotate(-270deg);
}
.deg-B {
   transform: rotate(284.4deg) translate(500%) rotate(-284.4deg);
}
.deg-C {
   transform: rotate(298.8deg) translate(500%) rotate(-298.8deg);
}
.deg-D {
   transform: rotate(313.2deg) translate(500%) rotate(-313.2deg);
}
.deg-E {
   transform: rotate(327.6deg) translate(500%) rotate(-327.6deg);
}
.deg-F {
   transform: rotate(342deg) translate(500%) rotate(-342deg);
}
.deg-G {
   transform: rotate(356.4deg) translate(500%) rotate(-356.4deg);
}
.deg-H {
   transform: rotate(370.8deg) translate(500%) rotate(-370.8deg);
}
.deg-I {
   transform: rotate(385.2deg) translate(500%) rotate(-385.2deg);
}
.deg-J {
   transform: rotate(399.6deg) translate(500%) rotate(-399.6deg);
}
.deg-L {
   transform: rotate(414deg) translate(500%) rotate(-414deg);
}
.deg-M {
   transform: rotate(428.4deg) translate(500%) rotate(-428.4deg);
}
.deg-N {
   transform: rotate(442.8deg) translate(500%) rotate(-442.8deg);
}
.deg-ENIE {
   transform: rotate(457.2deg) translate(500%) rotate(-457.2deg);
}
.deg-O {
   transform: rotate(471.6deg) translate(500%) rotate(-471.6deg);
}
.deg-P {
   transform: rotate(486deg) translate(500%) rotate(-486deg);
}
.deg-Q {
   transform: rotate(500.4deg) translate(500%) rotate(-500.4deg);
}
.deg-R {
   transform: rotate(514.8deg) translate(500%) rotate(-514.8deg);
}
.deg-S {
   transform: rotate(529.2deg) translate(500%) rotate(-529.2deg);
}
.deg-T {
   transform: rotate(543.6deg) translate(500%) rotate(-543.6deg);
}
.deg-U {
   transform: rotate(558deg) translate(500%) rotate(-558deg);
}
.deg-V {
   transform: rotate(572.4deg) translate(500%) rotate(-572.4deg);
}
.deg-X {
   transform: rotate(586.8deg) translate(500%) rotate(-586.8deg);
}
.deg-Y {
   transform: rotate(601.2deg) translate(500%) rotate(-601.2deg);
}
.deg-Z {
   transform: rotate(615.6deg) translate(500%) rotate(-615.6deg);
}

body {
   background: linear-gradient(45deg, rgb(2, 3, 71), rgb(2, 3, 71));
   color: black;
}

.contenedorRosco {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 95vh;
}

.circulo, .rectangulo {
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   user-select: none;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 4vh;
}
.circulo {
   border-radius: 50%;
}

.letra {
   width: 7vh;
   height: 7vh;
   font-size: 4vh;
   cursor: pointer;
   font-size: 5.5vh;
   font-weight: bold;
   color: black;
   -webkit-text-stroke: 0.05vh cyan;
}

.countdown {
   top: 60vh;
   left: 2vw;
   width: 22vh;
   height: 22vh;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
   font-size: 12vh;
   color: black;
   font-weight: bold;
}

.aciertos {
   top: 84vh;
   left: 2vw;
   width: 12vh;
   height: 12vh;
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
   font-size: 10vh;
   color: black;
   font-weight: bold;
}
.errores {
   top: 84vh;
   left: 18vh;
   width: 8vh;
   height: 12vh;
   background: linear-gradient(45deg, red, rgb(136, 47, 47));
   font-size: 8vh;
   color: white;
   -webkit-text-stroke: 0px;
}

.sumarRestarSegundos {
   width: 3vw;
   height: 3vw;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
}
.sumarSegundos {
   top: 64vh;
   left: calc(2vw + 24vh);
}
.restarSegundos {
   top: 73vh;
   left: calc(2vw + 24vh);
}

/* BOTONES */
.boton {
   cursor: pointer;
   font-size: 3vh;
}
.botonCircular {
   width: 3vw;
   height: 3vw;
   border-radius: 50%;
   cursor: pointer;
}

.botonPlayPausa {
   top: 4vh;
   right: 2vw;
   width: 15vw;
   height: 4vh;
   background: cyan;
}
.acierto {
   top: 10vh;
   right: 14vw;
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
}
.pasapalabra {
   top: 10vh;
   right: 10vw;
   background: linear-gradient(45deg, orange, rgb(249, 183, 60));
}
.error {
   top: 10vh;
   right: 6vw;
   background: red;
}
.cambiarRosco {
   top: 10vh;
   right: 2vw;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
}

.nombreJugador {
   font-size: 5vh;
   top: 2vh;
   left: 2vw;
   color: cyan;
}

.nombreRival {
   top: 13vh;
   left: 2vw;
   font-size: 4vh;
   color: rgb(6, 97, 128);
   -webkit-text-stroke: 0.01vh cyan;
}
.aciertosRival {
   top: 19vh;
   left: 2vw;
   width: 3vw;
   height: 3vw;
   background: linear-gradient(45deg, rgb(67, 235, 67), rgb(110, 144, 110));
   font-size: 2.5vw;
   color: black;
}
.erroresRival {
   top: 19vh;
   left: 5.5vw;
   width: 2vw;
   height: 3vw;
   background: linear-gradient(45deg, red, rgb(136, 47, 47));
   font-size: 2.2vw;
   color: white;
}
.segundosRival {
   top: 19vh;
   left: 8vw;
   width: 3vw;
   height: 3vw;
   background: linear-gradient(45deg, rgb(79, 107, 247), rgb(79, 107, 247));
   font-size: 1.5vw;
   color: black;
}

.letraCentral {
   font-size: 35vh;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   user-select: none;
}

.comodin {
   border: none;
   background: rgb(6, 97, 128);
   width: 4vw;
   height: 4vw;
}
.comodin.enabled {
   color: rgb(249, 183, 60);
   -webkit-text-stroke: 1px black;
}
.comodin.disabled {
   color: lightgrey;
   -webkit-text-stroke: 1px rgb(180, 180, 180);
}

.comodin0 {
   top: 86vh;
   right: 2vw;
}
.comodin1 {
   top: 86vh;
   right: 7.5vw;
}
.comodin2 {
   top: 86vh;
   right: 13vw;
}
.copyright {
   font-size: 2.5vh;
   text-align: right;
   color: cyan;
   width: 98vw;
}

.disabled {
   background: lightgray;
   color: white
}

.infoRival {
   -webkit-text-stroke: 0px;
}

.izquierda, .derecha > .superior {
   font-weight: bold;
   -webkit-text-stroke: 0.05vh cyan;
}

.firma {
   font-size: 3.2vh;
}